/* font import */
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@font-face {
  font-family: 'RadioGrotesk';
  src: url('./fonts/RadioGrotesk-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MonumentExtended';
  src: url('./fonts/MonumentExtended-Ultrabold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

/* * {
  border: 1px solid red !important;
} */

/* css roots */
:root {
  --primary-color-orange: #f86349;
  --secondary-color-grey: #eeeeee;
  --titan-font: 'Titan One', sans-serif;
  --rubik-font: 'Rubik', sans-serif;
  --font-body: 'RadioGrotesk', sans-serif;
  --font-bold: 'MonumentExtended', sans-serif;
  --helvetica-neue-font: 'Helvetica Neue', Arial, sans-serif;
  --inter-font : 'Inter', sans-serif;

}

/* styles */

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: var(--font-body);
}

/* navbar */
.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  width: 90%;
  margin: 0 auto;
  z-index: 3;

  display: flex;
  justify-content: center; /* Center the menu */
  align-items: center;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0.5rem 0;
  margin: 0;
}

.navbar-menu li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8rem;
  color: #807e7e;;
  text-transform: uppercase;
}

.navbar-brand {
  font-family: var(--font-bold);
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 2rem;
  
}

.navbar-brand a {
  text-decoration: none;
  color: var(--primary-color-orange);
  font-family : var(--font-bold);
  text-transform: uppercase;
}

.grey-navbar {
  background-color: transparent !important;
  border: none;
  box-shadow: none;
  justify-content: space-between; /* Space between brand and menu */
  align-items: center;
  margin-top :6px;
}

.white-navbar {
  position: fixed;
  width : 100%;
  background : none;
}

.white-navbar .navbar-menu a {
  color: #807e7e; /* or use var(--primary-color-orange) if you defined it */
  text-decoration: none; /* optional, removes underline */
}





.index-page-body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.index-page-menu {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 10px;
  justify-content: flex-end;
}

.index-page-menu a {
  text-decoration: none;
  color: black;
  font-family: var(--font-body);
    font-size : 1rem;

}

.index-page-main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.index-page-title {
  font-size: 5rem;
  text-transform: uppercase;
  color: var(--secondary-color-grey, #444);
  font-family: var(--font-bold);
  text-shadow: 6px 6px 7px rgba(248, 99, 73, 0.4);
}

/* FOOTER (fixed at bottom) */
.index-page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 15px;
  font-size: 0.9rem;
  z-index: 100;
  text-decoration: none;
  color: black;
  font-family: var(--font-body);
}

.index-page-footer p {
  text-decoration: none;
  color: black;
  font-family: var(--font-body);
  font-size : 1rem;
}



@media (min-width: 1200px) {
  .index-page-title {
    font-size: 14rem;
  }
}






















.overlay-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--secondary-color-grey);
  font-size: 4.6rem;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
  font-family: var(--font-bold);
text-shadow: 6px 6px 7px rgba(248, 99, 73, 0.4);  opacity: 0;
  transition: opacity 1s ease;

}




.overlay-title.show{
  opacity: 1;
}

.grey-bg {
  background-color: var(--secondary-color-grey);
}

@media (min-width: 768px) {
  .overlay-title {
    font-size: 15rem;
   
  }
}
/* Prevent scroll only on this specific page */
.main-landing {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin : 0 auto;
}

/* Center the title */
.title-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* Fix the footer to the bottom */
.footer-main-page {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 100;
}

.footer-content p {
  margin: 0;
  padding: 0px;
  color: rgb(12, 11, 11);
  font-size: 0.8rem;
}


.work-content-container {
  width: 90%;
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
}

.work-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  /* border : 0.5px solid black; Optional: adds a border to images */
}

.work-item {
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
  overflow: hidden; /* Optional: prevents overlay from leaking out */
}

.half-width-row {
  display: flex;
  flex-direction: column; /* stacked on mobile */
  gap: 1rem;
}

.work-item img {
    object-position: 30% 0%; /* adjust the second value to move vertically */


}

/* Desktop layout (≥768px): side-by-side for 2nd and 3rd */
@media (min-width: 768px) {
  .half-width-row {
    flex-direction: row;
  }

  .work-item {
    flex: 1;
  }

  .work-item img {
    height: 450px;
  }
}




.e-commerce-container-work,
.projects-container-work,
.costum-design-container-work {
  position: relative;
  overflow: hidden;
    border : 0.5px solid black;

}

/* Specific object positioning */
.e-commerce-container-work img {
  object-fit: cover;
  object-position:100% 50%; /* 20% from the left (X), 50% from the top (Y) */
}

.projects-container-work img {
    object-position: center 2%;
}

.costum-design-container-work img {
  object-position: 100% 50%;
  filter: brightness(1.5);
}

main {
  margin-top: 5px;
}

/* Position modifiers */
.top-left {
  top: 10px;
  left: 10px;
}

.top-right {
  top: 10px;
  right: 10px;
}

.bottom-left {
  bottom: 10px;
  left: 10px;
}

.bottom-right {
  bottom: 10px;
  right: 10px;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay-title-work {
  position: absolute;
  color: var(--primary-color-orange);
  /* color: white; */
  font-size: 1.7rem;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
  font-family: var(--font-bold);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Add shadow for better visibility */
}

.e-commerce-title{
  /* padding : 20px; */
  font-size: 1.8rem;
  text-align: end;
  margin-right: 20px;
  margin-bottom: 20px;
}

.e-commerce-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding : 0 0px;
}

.brand-container {
  width: 100%;
  max-width: 600px; /* Optional: limit width */
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: none;
}

.brand-container.milka, .projects-item.editorial {
  margin-bottom: 0;
}

.brand-container img,
.brand-container video {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  /* border : 0.5px solid black; */
}

.brand-title {
  text-align: left;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--primary-color-orange);
  font-family: var(--font-bold);
}

.brand-title a {
  text-decoration: none;
  color: inherit; /* Optional: match the surrounding text color */
}

.brand-container.algoflex img {
  object-position: center 40%; /* adjust the second value to move vertically */
  
}

@media (min-width: 768px) {
  .e-commerce-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 10px; /* row gap, column gap */
    /* padding: 0 40px; */
    justify-items: center; /* optional: center content in each cell */
    width : 90%;
    margin: 0 auto; /* centers the grid */
  }

  .e-commerce-title {
    text-align: end; /* centers the title */
    width: 90%; /* full width for the title */
    margin : 0 auto; /* centers the title */
    margin-bottom: 20px;
  }

  .brand-container {
    width: 100%;
    max-width: none; /* Let grid control the width */
    margin-bottom: 0; 
  }

  .brand-container img,
  .brand-container video {
    height: 350px; /* already defined */
  }



 .brand-container {
    width: 100%;
    position: relative; /* enables absolute positioning for overlay */
  }

    .brand-title {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%); /* centers horizontally and vertically */
    padding: 10px 15px;
    color: var(--primary-color-orange);
    font-size: 3.4rem;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--font-bold);
    margin: 0;
    opacity: 0;
    /* mix-blend-mode: exclusion; */
; /* makes the text color mix with background */

    pointer-events: none; /* optional: allow clicks to go through */
  }
   .brand-container:hover .brand-title {
    opacity: 1;
  }
}


/* projects page */
/* MOBILE-FIRST STYLES */
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width : 90%;
  margin : 0 auto;
}

.projects-item {
  width: 100%;
  max-width: 600px;
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: none;
  position: relative;
}

.projects-item img,
.projects-item video {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  /* border: 0.5px solid black; */
}

.project-item-title {
  text-align: left;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--primary-color-orange);
  font-family: var(--font-bold);
}

/* remove default title spacing for link */
.project-item-title a {
  text-decoration: none;
  color: inherit;
}

.projects-title-container {
  width : 90%;
  margin : 0 auto;
  margin-bottom : 20px;
}

/* DESKTOP: GRID + HOVER OVERLAY */
@media (min-width: 768px) {
  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 10px; /* row gap, column gap */
    justify-items: center;
    margin: 0 auto;
  }

  .projects-item {
    max-width: 100%;
    margin-bottom: 0;
    position: relative;
  }

  .projects-item img,
  .projects-item video {
    height: 350px;
  }

  .project-item-title {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 10px 15px;
    color: var(--primary-color-orange);
    font-size: 3.4rem;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--font-bold);
    margin: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  .projects-item:hover .project-item-title {
    opacity: 1;
  }
}



.projects-title, .about-title, .work-title, .design-title, .design-title-mobile, .e-commerce-title  {
  font-size: 1rem;
  text-align: end;
  text-transform: uppercase;
  font-weight: bold;
  color : #807e7e;
}



/* Individual image adjustments */
.projects-item.upcycling .project-img {
  object-position: center 40%;
}

.projects-item.fashion-design .project-img {
  object-position: center 10%;
}

.projects-item.knitwear-design .project-img {
  object-position: center 50%;

}

.projects-item.editorial .project-img {
  object-position: 100% 10%;
}



.about-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-title {
  width :90%;
  margin : 0 auto;
}

.about-text {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.6;
  color: black;
}

.about-portrait img {
   width: 100%;
  height: 260px;
  object-fit: cover;
  display: block;
  border : 0.5px solid black;
  object-position: center 45%;
}



.about-portrait {
  text-align: right;
}

.about-contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  
}

@media (min-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .about-text {
    flex: 1;
    text-align: justify;
  }

  .about-text p {
    text-align : justify; /* Ensure text is justified */
    margin : 0px;
  }

  .about-portrait {
    flex: 0 0 40%;
    text-align: right;
  }

  .about-portrait img {
    width: 100%;
    height: 450px;
    object-position: center 40%;
    margin-left: 0; /* Reset if needed */
  }

  .about-main-content {
    display : flex;
    gap : 2rem;
  }

  .about-title {
    margin-bottom : 20px;
  }
}

.contact-social,
.contact-email {
  gap: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start; /* Important! Align inner content left */
}

.contact-title {
  font-size: 1.5rem;
  color: var(--primary-color-orange);
  text-transform: uppercase;
  font-family: var(--font-bold);
}

.contact-social a,
.contact-email a {
  text-decoration: none;
  color: inherit; /* Optional: match the surrounding text color */
}

/* slider */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top : 40px;
}
.slider::before, .slider::after {
/*   background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); */
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 350px;
  padding-left: 20px;
}

.slide img {
  height: 80px; /* Adjust this as needed */
  width: auto;  /* Keeps the logo proportions */
  object-fit: contain;
  padding: 10px; /* Optional: adds spacing inside */
}



/* footer */
.footer {
  background-color: var(--primary-color-orange);
  color: white;
  text-align: center;
    display: flex;
  justify-content: center; /* centers content horizontally */
  align-items: center; 
  flex-direction: column;
      margin-top: 20px;

 

}
/* 
@media (min-width: 768px) {
  .footer {
  }
} */

.footer-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width : 100%;
  padding-top : 1rem;
}

.footer-contact {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.footer-credits {
  padding-top: 1rem;
  font-size: 0.7rem;
  padding-left : 1rem;
  margin-right : auto;
}

.footer-credits p {
  text-align: left;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;

}

.footer-links a, .footer-contact a {
  color: white;
  text-decoration: none;
  /* text-decoration-color: white; */
  margin: 0 1rem;
}

.footer-rozina-name {

  font-family: var(--font-bold);
  font-size: 5rem;
  color: white;
  text-transform: uppercase;
  /* animation: pulse-fake-weight 2s infinite ease-in-out; */

}

@keyframes pulse-fake-weight {
  0%, 100% {
    text-shadow: none;
    transform: scale(1);
  }
  50% {
    text-shadow: 1px 1px 0 currentColor, -1px -1px 0 currentColor;
    transform: scale(1.05);
  }
}


.footer-main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* svg  */
.wave-animation {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  line-height: 0;

}

.wave-animation svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}






/* grid e-commerce displaying */

.ecommerce-flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Centers everything horizontally like .image-grid already does */
  width: 90%;
  margin: 0 auto; /* Centers the flex wrapper */

}

.e-commerce-client-title-container {
  width: 100%;
  margin: 0 ;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.e-commerce-client-title {
  text-align: left;
  margin-top : 2em;
  margin-bottom: 20px;
  text-align: left;
}

.main-title-client-e-commerce {
  font-size: 2.3rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.subtitle-client-e-commerce {
  font-size: 1.2rem;
  color: #545353;
  margin-bottom: 20px;
  text-transform: uppercase ;

}


/* Base layout */
.image-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
}

/* Default image behavior (mobile) */
.image-grid img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  border : 0.5px solid black; /* Optional: adds a border to images */
}

.image-grid video {
  width: 100%;
  height: auto;
  border : 0.5px solid black; /* Optional: adds a border to videos */
 
}

/* Desktop view: 2 columns and cropped images */
@media (min-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .image-grid img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .image-grid .tall {
    grid-row: span 2;
    height: 100%;
  }


    .image-grid img.natural {
    height: auto;
    object-fit: contain; /* Optional: ensures full image is shown */
  }
}


/* Credits block */
.image-grid .credits {
  width: 90%;
  height: auto;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 1em;
  color: #333;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .image-grid .credits {
    height: auto;
  }
}

@media (min-width: 768px) {
  .image-grid .wide {
    grid-column: span 2;
  display: flex;              /* Add this */
    justify-content: center;    /* Horizontally center the video */
  }

  .image-grid .wide video {
    width: 100%;
    height: auto; /* Let the browser set height based on the video ratio */
    display: block;
  }
  .image-grid .wide img {
    width: 100%;
    height: auto; /* Let the browser set height based on the image ratio */
    display: block;
  }
    .grid-align-right {
    grid-column: 2;       /* Force it into the second column */
    justify-self: end;    /* Align it to the right of that column */
    text-align: right;
  }
}

/* design page */
/* design page */
/* Base layout (desktop first) */
.design-wrapper {
  display: flex;
  gap: 20px;
  width: 90%;
  margin: auto;
  align-items: flex-start;
}

.design-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.design-column img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  border: 0.5px solid black; /* Optional: adds a border to images */
}

/* Default: desktop title visible, mobile title hidden */
.design-title {
  display: block;

}
.design-title-mobile {
  display: none;
}

/* Mobile: one column layout and mobile title */
@media (max-width: 768px) {
  .design-wrapper {
    flex-direction: column;
  }

  .design-title {
    display: none;
  }

  .design-title-mobile {
    display: block;
 
  }
}


@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
section .wave {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color-orange);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
section .wave span {
  content: "";
  position: absolute;
  width: 325vh;
  height: 325vh;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #fff;
}
.content {
  position: relative;
  z-index: 1;
  font-size: 4em;
  letter-spacing: 2px;
  color: #fff;
}
section .wave span:nth-child(1) {
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

section .wave span:nth-child(2) {
  border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}
section .wave span:nth-child(3) {
  border-radius: 42.5%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 15s linear infinite;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

.overlay-title h2 {
  font-size: 3rem;
  color: var(--primary-color-orange);
  text-transform: uppercase;
  text-align: center;
  font-family: var(--font-bold);
  margin: 0;
  padding: 20px;
}

@media (min-width: 768px) {
  .overlay-title h2 {
    font-size: 13rem;
    padding: 10px;
  }
}


.r {
  font-size : 16.5rem;
  font-family: var(--font-bold);
  color: var(--primary-color-orange);
 
}